@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../../resources/images/2151065718_mirror.png)   
}

iframe {
    margin: 0;
    border: none;
}

#header {
    width: 100%;
    height: 540px;
}

h2 {
    margin: 2vh auto 5vh;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
}

@media (min-width: 1360px) {
    .container {
        flex-direction: row;
    }

    .product-container {
        width: 16%;
        border-radius: calc(1vw + 1vh) 0 0 calc(1vw + 1vh);
    }

    #product-detail {
        width: 100%;
    }

    .comments {
        width: 54%;
        border-radius: 0 calc(1vw + 1vh) calc(1vw + 1vh) 0;
    }

    .comment {
        margin: 15px auto;
    }

    .comments .comment img {
        max-width: 75px;
        max-height: 75px;
        margin: 1%;
    }

    .comments .comment .comment-content .rating img {
        max-width: 35px;
        max-height: 35px;
    }

    .buttons {
        justify-content: space-around;
    }

    .product-container button {
        margin: 2px;
    }

    .product-rating {
        justify-content: space-evenly;
    }

    .stars-image {
        margin: 0;
    }

    .rating .rating-star {
        font-size: 30px;
    }

    .product-container .rating img {
        max-width: 35px;
        max-height: 35px;
    }

    .product-container .rating #rating-stars {
        font-size: 30px;
    }
}

@media (max-width: 1360px) {
    .container {
        width: 75vw;
        flex-direction: column;
    }

    .product-container {
        border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
    }

    .product-rating {
        justify-content: center;
    }

    .stars-image {
        margin: 0 5px;
    }

    .comments {
        border-radius: 0 0 calc(1vw + 1vh) calc(1vw + 1vh);
    }

    .comment {
        width: 90%;
        margin: 10px 0.5%;
    }

    .comments .comment img {
        max-width: 63px;
        max-height: 62.5px;
        margin: 1.75% 1% 1% 1%;
    }

    .rating .stars-image {
        max-width: 27.5px;
        max-height: 27.5px;
    }

    .rating .rating-star {
        font-size: 27.5px;
    }

    .buttons {
        justify-content: center;
    }

    .product-container button {
        margin: 1px 1.5vw;
    }

    .product-container .rating img {
        width: 1.775vw;
        height: 1.775vw;
    }

    .product-container .rating #rating-stars {
        font-size: 1.75vw;
    }
}

.container {
    margin: calc(7.5vh - 20px) auto;
    display: flex;
    justify-content: center;
}

.product-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;
    transition: transform 0.3s ease;
}

.product-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-photo {
    max-width: 80%;
    max-height: 250px;
    border-radius: 10px;
    background: 50% 50% repeat;
    margin: 3% auto 1%;
}

h3 {
    font-size: 140%;
}

h3, h5, .price {
    text-align: center;
}

.description {
    margin: 0;
    text-align: justify;
    color: #555;
}

.price {
    margin: 10px auto;
    font-size: 135%;
}

.rating, .product-rating {
    display: flex;
    flex-direction: row;
}

.product-rating {
    margin-bottom: 10px;
}

.rating-star {
    margin: 0;
    color: #ffc107;
}

.product-rating .rating-star {
    font-size: 30px;
}

.product-rating .stars-image {
    max-width: 35px;
    max-height: 35px;
}

.rating .stars-image {
    margin: 0 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.product-container button {
    background-color: #ffc107;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-container button:hover {
    background-color: #ffca28;
}

.comments {
    padding: 2.5% 2.5% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.5);
}

.comments-title, .comments-subtitle {
    margin-top: 0;
    color: #fff;
}

.comments-title {
    margin-bottom: 10px;
}

.comments-subtitle {
    margin-bottom: 10px;
    font-size: 130%;
}

.comment {
    width: 100%;
    border-radius: calc(0.5vw + 0.5vh);
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.75);
    color: whitesmoke;
}

.comments .comment img {
    border-radius: 50%;
}

.comments .comment .comment-content h4 {
    margin: 10px auto;
    padding-right: 10px;
    font-size: 120%;
}

.comments .comment .comment-content .rating {
    justify-content: flex-start;
}

.comments .comment .comment-content .rating img {
    margin: 0 1.5px;
}

.comments .comment .comment-content p {
    max-width: 97.5%;
    margin-right: 12.5px;
    text-align: justify;
}

footer {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100vw;
}