@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    
    background-size: cover;
}

h2 {
    margin: 2vh auto 0;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
}

.container {
    width: fit-content;
    margin: 3.5vh auto;
    padding: 2.5vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: calc(1vw + 1vh);
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
}

.input-box {
    color: white;
    gap: 10px;
    margin-bottom: 20px;
}

.input-box label {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
}

.input-box input {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
}

.submit-button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button button {
    width: 110px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #ff2d00;
    color: #fff;
    cursor: pointer;
}

.submit-button button:hover {
    background-color: #fc1414;
    color: whitesmoke;
}
