.payment-container-logged {
    background-color: #ffffff;
}

.payment-options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-option-button {
    margin: 10px;
}

.payment-container-not-logged {
    width: fit-content;
    margin: 0 auto;
    padding: 50px;
    border-radius: 70px;
    background-color: rgb(0, 0, 0, 0.5);
}

.user-not-logged-advice {
    margin: 0;
    font-size: 200%;
    text-align: center;
    color: #ffffff;
}