@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(../../../resources/images/2151065718_mirror.png)   
}

iframe {
    margin: 0;
    border: none;
}

#header {
    width: 100%;
    height: 540px;
}

h2 {
    margin: 2vh auto 5vh;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
    }

    .product {
        width: 16%;
        border-radius: calc(1vw + 1vh) 0 0 calc(1vw + 1vh);
    }

    #product-detail {
        width: 100%;
    }

    .product .rating {
        justify-content: space-evenly;
    }

    .product .rating img {
        margin: 0 0 2vh;
    }

    .product .rating #rating-stars {
        margin: 0 0 2vh;
    }

    .comments {
        width: 54%;
        border-radius: 0 calc(1vw + 1vh) calc(1vw + 1vh) 0;
    }

    .comment {
        margin: 5px auto;
    }

    .comments .comment img {
        max-width: 75px;
        max-height: 75px;
        margin: 1%;
    }

    .comments .comment .comment-content .rating img {
        max-width: 35px;
        max-height: 35px;
    }

    .comments .comment .comment-content .rating #rating-stars {
        font-size: 30px;
    }

    .buttons {
        justify-content: space-around;
    }

    .product button {
        margin: 2px;
    }

    @media (min-width: 1400px) {
        .product .rating img {
            max-width: 35px;
            max-height: 35px;
        }
    
        .product .rating #rating-stars {
            font-size: 30px;
        }
    }

    @media (max-width: 1400px) {
        .product .rating img {
            width: 1.775vw;
            height: 1.775vw;
        }
    
        .product .rating #rating-stars {
            font-size: 1.75vw;
        }
    }
}

@media (orientation: portrait) {
    .container {
        width: 65vw;
        flex-direction: column;
    }

    .product {
        border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
    }

    .comments {
        border-radius: 0 0 calc(1vw + 1vh) calc(1vw + 1vh);
    }

    .comment {
        margin: 1.5vh 1.25vw;
    }

    .comments .comment img {
        max-width: 63px;
        max-height: 62.5px;
        margin: 1.75% 1% 1% 1%;
    }

    .comments .comment .comment-content .rating img {
        max-width: 27.5px;
        max-height: 27.5px;
    }

    .comments .comment .comment-content .rating #rating-stars {
        font-size: 22.5px;
    }

    .product .rating {
        margin-bottom: 7.5%;
        justify-content: center;
    }

    .product .rating img {
        margin: 0 0.75vw;
        max-width: 35px;
        max-height: 35px;
    }

    .product .rating #rating-stars {
        margin: 0 0.75vw;
        font-size: 30px;
    }

    .buttons {
        justify-content: center;
    }

    .product button {
        margin: 1px 1.5vw;
    }
}

.container {
    margin: 7.5vh auto;
    display: flex;
    justify-content: center;
}

.product {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    justify-content: space-around;
    transition: transform 0.3s ease;
}

#product-detail {
    height: 530px;
    margin: 0 auto;
}

.rating {
    display: flex;
    flex-direction: row;
}

.product .rating #rating-stars {
    color: #ffc107;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.product button {
    background-color: #ffc107;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #ffca28;
}

.comments {
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.5);
}

.comment {
    width: 100%;
    border-radius: calc(0.5vw + 0.5vh);
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.75);
    color: whitesmoke;
}

.comments .comment img {
    border-radius: 50%;
}

.comments .comment .comment-content h3 {
    margin: 10px auto;
}

.comments .comment .comment-content .rating {
    justify-content: flex-start;
}

.comments .comment .comment-content .rating img {
    margin: 0 1.5px;
}

.comments .comment .comment-content .rating #rating-stars {
    margin: 0 1.5px;
    color: #ffc107;
}

.comments .comment .comment-content p {
    max-width: 97.5%;
    margin-right: 12.5px;
    text-align: justify;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin: auto -17px;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100vw;
}