@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
   
    background-image: url(../../../resources/images/2151065718.jpg)   
}

header {
    background-color: #333; /* Cor de fundo do header */
    color: #fff; /* Cor do texto do header */
    padding: 20px; /* Espaçamento interno do header */
    text-align: center; /* Alinhamento do texto no centro */
    position: relative; /* Garante que a posição do banner seja relativa ao header */
    height: 500px;
}
#banner-image {
    width: 100%; /* A imagem ocupa toda a largura do header */
    height: 100%; /* A imagem ocupa toda a altura do header */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do elemento mantendo a proporção */
    position: absolute; /* Ajusta a posição da imagem em relação ao header */
    top: 0; /* Posiciona a imagem no topo do header */
    left: 0; /* Posiciona a imagem à esquerda do header */
}


nav {
    position:absolute; /* Define a posição do menu */
    bottom: 0; /* Alinha o menu no topo do cabeçalho */
    left: 0; /* Alinha o menu à esquerda do cabeçalho */
    width: 100%; /* Ocupa toda a largura do cabeçalho */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo do menu (com transparência) */
    padding: 20px; /* Espaçamento interno do menu */
    box-sizing: border-box; /* Inclui padding na largura total do elemento */
}

nav ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão */
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento entre os itens da lista */
    font-size: large;

}

nav ul li a {
    color: #fff; /* Cor dos links do menu */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

nav ul li a:hover {
    color: #ff0707; /* Cor dos links do menu ao passar o mouse */
    
}

h2 {
    font-size: 36px; /* Tamanho da fonte */
    color: whitesmoke; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}


.main-content {
    padding: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product .description {
    font-size: 14px;
    text-align: justify;
    color: #555;
}

.product .price {
    font-size: 15px;
}

.product button {
    background-color: #ffc107;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #ffca28;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin: auto -17px; /*auto for top-bottom -17px for right-left*/
    padding: 10px 0; /*10px for top-bottom, 0 for right-left*/
    position: static;
    bottom: 0;
    width: 100vw;
}
