.header {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    height: 500px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
}

.header-navbar, .header-navbar-section {
    display: flex;
}

@media (max-width: 1250px) {
    .account-buttons {
        margin-bottom: 0;
        left: 0;
        right: 0;
        margin: 15px auto 0;
    }

    .header-navbar, .header-navbar-section {
        flex-direction: column;
    }

    .header-navbar-section {
        padding: 0;
    }

    .header-navbar-item {
        margin: 5px auto;
    }
}

@media (min-width: 1250px) {
    .account-buttons {
        top: 20px;
        right: 35px;
    }

    .header-navbar, .header-navbar-section {
        flex-direction: row;
    }

    .header-navbar-section {
        padding: 5px;
    }

    .header-navbar-item {
        margin: auto 15px;
    }
}

.account-buttons {
    width: 270px;
    height: 60px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.header-navbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    background-color: rgba(3, 0, 23, 0.95);
}

.header-navbar-item, .header-navbar-link {
    font-size: 110%;
}

.header-navbar-item {
    list-style: none;
}

.header-navbar-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ffffff;
}

.header-navbar-link:hover {
    color: #ff2d00;
}

.header-navbar-link-text {
    margin: 0 auto;
}