@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(../../../resources/images/2151065718_mirror.png)   
}

iframe {
    width: 100%;
    height: 540px;
    border: none;
}

h2 {
    margin: 2vh auto 0;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
}

.container {
    width: 87.5vw;
    height: 80vh;
    margin: 3.5vh auto;
    padding: 2.5vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: calc(1vw + 1vh);
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

.small_container{
    width: fit-content;
    height: fit-content;
}

#payment-container {
    width: 87.5vw;
    margin: 3.5vh auto;
}

.product-container {
    min-height: 600px;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: calc(1vw + 1vh);
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1355px) {
    .product-container {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1355px) {
    .product-container {
        height: 60vh;
        flex-direction: row;
    }
}

.input-box {
    width: 82.5vw;
    margin: 0 auto 5.5vh;
    color: white;
    gap: 10px;
}

.input-box label {
    font-size: 15px;
    font-weight: 200;
    margin: 0 5%;
}

.input-box input {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    width: 88%;
    height: 22px;
    border: none;
    margin: 0 5%;
}

.input-box textarea {
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 5px 5px 10px 10px;
    height: 10vh;
    margin: 0 5%;
    resize: none;
}

.input-box-small {
    width: 400px;
}

input {
    margin-bottom: 20vh;
}

.input-box-label {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

.input-box-label input {
    width: 10%;
    margin: 0;
}

.submit-button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button button {
    width: 110px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #ff2d00;
    color: #fff;
    cursor: pointer;
}

.submit-button button:hover {
    background-color: #fc1414;
    color: whitesmoke;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin: auto -17px;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100vw;
}

.pix-image-container {
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-height: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.product-container {
    display: flex;
    justify-content: space-between;
}

.input-box {
    width: 100%;
}

#product-detail {
    width: 90%;
    height: 500px;
    margin: 2%;
    padding: 0 1vw;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}