@media (max-width: 1200px) {
    .outer-signup-form {
        width: calc(60% - 100px);
        padding: 60px 50px 30px;
    }
}

@media (min-width: 1200px) {
    .outer-signup-form {
        width: calc(50% - 200px);
        padding: 60px 100px 30px;
    }
}

.outer-signup-form {
    margin: 0 auto 50px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.5);
}

.outer-advice {
    width: 300px;
    height: 40px;
    margin: 0 auto 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.75);
}

.advice {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
}

.asterisk {
    font-weight: 500;
    color: #ff0000;
}