.content-footer {
    width: 100vw;
    min-height: 100vh;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../public/2151065718_mirror.png);
}

.content-title {
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}
