@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url(../../../resources/images/2151065718_mirror.png);   
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 500px;
}
#banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(3, 0, 23, 0.95);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: large;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff2d00;
    
}

.main-content {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin: auto -17px;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100vw;
}

h2 {
    margin: 2vh auto 5vh;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-height: 250px;
    border: 1px solid #ccc;
    padding: 20px;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product .description {
    font-size: 14px;
    text-align: justify;
    color: #555;
}

.product .price {
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product button {
    background-color: #ffc107;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #ffca28;
}
