@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../../resources/images/2151065718_mirror.png);
}

iframe {
    width: 100%;
    height: 540px;
    border: none;
}

@media (orientation: landscape) {
    .container {
        width: 65vw;
    }

    .product {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    .container {
        width: 75vw;
    }

    .product {
        flex-direction: column;
    }

    .image {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.container {
    width: 65vw;
    margin: 3.5vh auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-header {
    width: 100%;
    border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
    background-color: rgba(3, 0, 23, 0.75);
}

h2 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.container-title {
    margin: 2vh auto;
}

h3 {
    margin: 14px 0;
    font-size: 180%;
}

h3, .price {
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin: 1% auto 0.5%;
}

.product {
    display: flex;
    justify-content: space-around;
    padding: 20px 10%;
    background-color: #fff;
    transition: transform 0.3s ease;
}

/* .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.photo {
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description {
    margin: 0;
    padding: 0 20px;
    font-size: 102%;
    text-align: justify;
    color: #555;
}

.price {
    margin: 10px auto;
    font-size: 160%;
}

.purchase {
    width: 100%;
    background-color: #fff;
}

.outer-payment-box, .outer-freight-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-box, .freight-box {
    width: 80%;
}

.freight-box {
    margin-top: 25px;
}

.payment-options-title, .freight-options-title {
    height: 60px;
    border-radius: 60px 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff2d00;
}

.payment-options-title-text, .freight-options-title-text {
    margin: 0 auto;
    font-size: 32px;
}

.payment-options-buttons, .freight-options-buttons {
    display: flex;
    flex-direction: row;
}

.card-button, .bank-slip-button {
    width: 50%;
    height: 70px;
    background-color: whitesmoke;
    border: 3px solid #ff2d00;
    border-bottom: 0;
}

.card-button, .bank-slip-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.card-button {
    border-right: 0;
}

.card-image {
    width: 72px;
    height: 50px;
}

.freight-box-bottom {
    border: 3px solid #ff2d00;
    border-radius: 0 0 60px 60px;
    background-color: #ff2d00;
}

.first-freight-option-button, .third-freight-option-button {
    width: 33.33%;
    background-color: whitesmoke;
}

.second-freight-option-button {
    width: 33.34%;
    border: 3px solid #ff2d00;
    border-top: 0;
    border-bottom: 0;
    background-color: whitesmoke;
}

.first-freight-option-title, .first-freight-option-time, .first-freight-option-price, .second-freight-option-title, .second-freight-option-time, .second-freight-option-price, .third-freight-option-title, .third-freight-option-time, .third-freight-option-price {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    color: #ff2d00;
}

.first-freight-option-title, .second-freight-option-title, .third-freight-option-title {
    font-size: 110%;
}

/* .bank-slip-button {

} */

.bank-slip-image {
    width: 60px;
    height: 50px;
}

.chosen-payment-option-title, .chosen-freight-option-title {
    margin: 0 auto;
    padding: 10px 0;
}

.chosen-payment-option-title {
    background-color: #ff2d00;
}

.chosen-payment-option-title-text, .chosen-freight-option-title-text {
    margin: 0 auto;
    text-align: center;
    color:#fff;
}

.payment-content, .freight-content {
    height: fit-content;
    border: 3px solid #ff2d00;
    background-color: whitesmoke;
}

.payment-content {
    border-radius: 0 0 60px 60px;
    border: 3px solid #ff2d00;
}

.freight-content {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.no-user-text {
    margin: 4px auto 14px;
    text-align: center;
    font-size: 150%;
    color: #000;
}

.card-box {
    margin: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owner-name-label, .card-number-label, .expiration-date-label, .cvv-label {
    margin: 5px;
}

.owner-name-input, .card-number-input, .expiration-date-input, .cvv-input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

/* .owner-name-input:focus, .card-number-input:focus, .expiration-date-input:focus, .cvv-input:focus {
    border: none;
} */

.confirmation-button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.confirmation-button-box button {
    width: 185px;
    height: 65px;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 110%;
    outline: none;
    border: none;
    background-color: #ff2d00;
    color: #fff;
    cursor: pointer;
}

.confirmation-button-box button:hover {
    background-color: #fc1414;
    color: whitesmoke;
}

.container-footer {
    width: 100%;
    border-radius: 0 0 calc(1vw + 1vh) calc(1vw + 1vh);
    background-color: rgba(3, 0, 23, 0.75);
}

.advice-text {
    text-align: center;
    color: #fff;
}

footer {
    background-color: rgba(3, 0, 23, 0.75);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100vw;
}
